#canvas {
  background-color: black;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#startBtn {
  position: absolute;
  width: 100px;
  height: 50px;
}

#replayBtn {
  position: absolute;
  width: 100px;
  height: 50px;
  display: none;
}

#exitBtn {
  position: absolute;
  margin-top: 70px;
  width: 100px;
  height: 50px;
  display: none;
}
