.centerContent {
    display: flex; /*bắt buộc phải có display: flex; mới có thể căn giữa được*/
    justify-content: center; /*cú pháp căn giữa cho cả hình ảnh và nội dung*/
}

.flexRightContent {
    text-align: right;
}

.justifyContent {
    text-align: justify;
    text-justify: inter-word;
}

#NguoiLamDon {
    margin-right: 3%; /*căn lề bên phải cách 3%*/
}