*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.bodyContainer {
    background-color: #f9f9f9;
}

.containerNavbarFixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 99;
    height: 60px;
}

.containerNavbar {
    margin-left: 172px;
    margin-right: 172px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#lotus-logo {
    width: 33px;
    height: 30px;
    fill: #cd0f32;
    stroke: transparent;
}

#lotus-text {
    width: 68px;
    height: 22px;
    fill: #002d64;
    stroke: transparent;
    position: relative;
    top: 4px;
}

.logo {
    display: inline-block;
}

.containerNotice {
    margin-left: 16px;
    background: #efeff4;
    border-radius: 20px;
    padding: 4px 8px;
    display: inline-block;
    position: absolute;
    top: 20px;
}

.noticeNavbar {
    font: normal 15px/19px SF;
    color: #111;
}

#icon-token {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: #1f9ffc;
}

.clearFloat {
    clear: both;
}

.navbarLeft {
    display: inline-block;
}

.navbarRight {
    display: flex;
    position: absolute;
    top: 23px;
    right: 252px;
}

.containerSignIn {
    color: #1f9ffc;
    border: 2px solid #1f9ffc;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 0 16px;
    height: 28px;
    font: normal 13px/28px SFSemiBold;
    margin-top: -3px;
    display: flex;
}

.embedCode {
    content: "";
    display: inline-block;
    border-right: 2px solid #eee;
    margin-left: 10px;
    height: 12px;
}

.embedCode2 {
    content: "";
    display: inline-block;
    margin-left: 10px;
    height: 12px;
}

.signUp {
    color: #fff;
    background: #1f9ffc;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 0 20px;
    padding: 0 16px;
    border-radius: 28px;
    height: 28px;
    font: normal 13px/28px SFSemiBold;
    margin-top: -3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin-left: 10px;
}

.mainContent {
    margin-top: 50px;
    padding-top: 53px;
}

.menuLotus {
    margin-bottom: 30px;
    padding: 0 0 0 15px;
    background: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 155px;
    height: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 99;
}

#home {
    width: 20px;
    height: 20px;
    fill: #aaa;
    stroke: transparent;
}

.trending {
    display: flex;
    font: normal 15px/20px SF;
    color: #aaa;
    white-space: nowrap;
    align-items: center;
}

.homePage {
    display: flex;
    font: normal 15px/20px SF;
    color: #aaa;
    white-space: nowrap;
    align-items: center;
}

.trending :hover {
    color: #333;
}

.homePage:hover {
    color: #333;
}

.iconTrending {
    width: 16px;
    height: 16px;
    fill: #aaa;
    stroke: transparent;
}

.iconGroup {
    width: 16px;
    height: 16px;
    fill: #aaa;
    stroke: transparent;
}

.group {
    display: flex;
    font: normal 15px/20px SF;
    color: #aaa;
    white-space: nowrap;
    align-items: center;
}

.group:hover {
    color: #333;
}

#iconEntertainment {
    width: 16px;
    height: 16px;
    fill: #aaa;
    stroke: transparent;
}

.entertainment {
    display: flex;
    font: normal 15px/20px SF;
    color: #aaa;
    white-space: nowrap;
    align-items: center;
}

.entertainment:hover {
    color: #333;
}

#iconInforLotus {
    width: 16px;
    height: 16px;
    fill: #aaa;
    stroke: transparent;
}

.inforLotus {
    display: flex;
    font: normal 15px/20px SF;
    color: #aaa;
    white-space: nowrap;
    align-items: center;
}

.inforLotus:hover {
    color: #333;
}

.colorForInforLotus {
    width: auto;
    height: 90px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inforLotus span {
    padding-left: 10px;
}

.homePage span {
    padding-left: 10px;
}

.group span {
    padding-left: 10px;
}

.trending span {
    padding-left: 10px;
}

.entertainment span {
    padding-left: 10px;
}

.postStatusHere {
    border: none;
    width: 100%;
    resize: none;
    height: 1.4em;
    line-height: 1.4em;
    min-height: 1.4em;
    overflow: hidden;
    display: block;
    outline: none;
    font-family: inherit;
}

.boardPostStatus {
    padding: 15px;
    display: inline-block;
    height: 220px;
}

.boardPostStatus textarea {
    border: none;
    width: 100%;
    resize: none;
    height: 1.4em;
    line-height: 1.4em;
    min-height: 1.4em;
    overflow: hidden;
    display: block;
    outline: none;
    font-family: inherit;
}

.boardPostStatusContainer {
    display: block;
}

.lotusPostForm {
    font-family: SF;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
}

.grLotusPost {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

.postStatusOption {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 16px 15px;
    border-top: 1px solid #e5e5e5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.listOptions {
    display: flex;
    padding-left: 0;
}

.listOptionsIcon {
    padding-left: 10px;
}

.leftPageInfo b {
    color: #555;
}

.leftPageInfo svg {
    width: 16px;
    height: 18px;
    fill: #888;
    stroke: transparent;
}

.leftPageInfo {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    font: normal 13px/17px SF;
    color: #8a8a8f;
}

.infoDown {
    display: flex;
    padding-right: 34px;
}

.postStatusOptionRight {
    display: flex;
}

.dangBai {
    display: flex;
    height: 30px;
    background: #fff;
    color: #888;
    font-size: 13px;
    line-height: 24px;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    margin-right: 12px;
    padding: 2px 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.dangBai img {
    padding-left: 2px;
    height: 10px;
}

.shareStatusButton button {
    height: 30px;
    border: none;
    background: #1f9ffc;
    border-radius: 6px;
    color: #fff;
    font-size: 17px;
    padding: 4px 12px;
    margin-top: -2px;
    cursor: pointer;
}

.containerHot {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.infoHot {
    display: flex;
    flex-direction: column;
    width: 136px;
    background: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px 10px 16px 10px;
}

.infoHotImage img {
    border-radius: 6px;
    width: 120px;
    height: 120px;
}

.hotTextStyle1 span {
    font: normal 13px/17px SFBold;
    color: #111;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.hotTextStyle2 span {
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: red;
}

.sidebarLeftFix {
    position: fixed;
}

.banner {
    margin-bottom: 24px;
}

.rightHeaderTopicNews svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #8a8a8f;
}

.infoLeftHeaderTopicNews1 span {
    display: inline;
    color: #111;
    font: normal 15px/20px SFBold;
    letter-spacing: 0.1px;
    word-break: break-word;
    overflow: hidden;
    max-width: 396px;
}

.infoLeftHeaderTopicNews2 span {
    color: #8a8a8f;
    font: normal 13px/17px SF;
    top: inherit;
}

.containerTopicNews {
    background: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    word-break: break-word;
    margin-top: 30px;
}

.imgLeftHeaderTopicNews img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.imgLeftHeaderTopicNews {
    padding-right: 5px;
}

.headerTopicNews {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.leftHeaderTopicNews {
    display: flex;
    align-items: center;
}

.contentTopicNews {
    font-size: 15px;
    line-height: 20px;
    color: #000;
    margin-bottom: 16px;
    word-break: break-word;
    overflow: hidden;
    padding-top: 15px;
}

.imgTopicNews img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.tittleTopicNews {
    background-color: #ebebeb;
    padding-left: 14px;
}

.leftLikeAndCommentTopicNews svg {
    width: 17px;
    height: 17px;
    fill: none;
    stroke: #111;
}

.leftLikeAndCommentTopicNews img {
    width: 16px;
    height: 16px;
    padding-right: 2px;
    margin-left: -10px;
}

.leftLikeAndCommentTopicNews span {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #111;
    padding-right: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.rightLikeAndCommentTopicNews svg {
    width: 17px;
    height: 17px;
    fill: none;
    stroke: #111;
}

.likeAndCommentTopicNews {
    padding: 18px 16.5px 10px;
    display: flex;
    justify-content: space-between;
}

.optionTopicNews {
    display: flex;
    justify-content: space-between;
    padding: 13.5px 16px 15px 16px;
}

.optionTopicNews1 svg {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: #111;
    position: relative;
    top: 2px;
    overflow: hidden;
    display: inline-block;
}

.tokenTopicNews {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #e4eaf6;
    width: 141px;
    height: 24px;
    border-radius: 5px 5px 0 0;
    font: normal 13px/25px SF;
    color: #35353f;
    margin-left: 206px;
    margin-top: 10px;
}

.tokenTopicNews svg {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: #16161f;
    margin-right: 4px;
}
