<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 th:text="${appName}"></h1>
    </div>
    <ul>
        <li th:each="car: ${cars}">
            <span th:text="${car.name + ' : ' + car.manufacturer + ' : ' + car.price}"></span>
        </li>
    </ul>
</div>
</body>
</html>