<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHome</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 th:text="${appName}"></h1>
    </div>
    <ul class="d-flex">
        <li th:each="car: ${cars}" class="d-flex flex-column align-items-center">
            <img th:attr="src=@{'/images/' + ${car.id} + '.jpg'}, alt=${car.name}"/>
            <span th:text="${car.name + ' : ' + car.price}"></span>
        </li>
    </ul>
</div>
</body>
</html>