</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Chi Tiet Cay</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/doodle/48/000000/potted-plant--v1.png" />
    <link rel="stylesheet" href="views/index.css">
</head>

<body>
    <div class="header">
        <div class="header__title">
            <span>
                Cây cảnh trong nhà
            </span>
        </div>
    </div>
    <div class="content__container">
        <% plants.forEach((plants,index) => { %>
        <div class="content__detail">
            <div class="content__detail__img">
                <img src="<%= plants.plantImg %>" alt="">
            </div>
            <div class="content__detail__title">
                <span><%= plants.plantName %></span>
            </div>
        </div>
        <%});%>
    </div>
</body>

</html>