<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}"></title>
</head>
<body>
<a th:href="@{/delete/{id}(id=${post.id})}">Delete post</a>&emsp;
<a th:href="@{/edit/{id}(id=${post.id})}">Edit post</a>&emsp;
<a href="/create">Create post</a><br><br><br>
<strong th:text="${post.title}"></strong><br>
<p th:text="${post.lastUpdate}"></p>
<p th:text="${post.content}"></p>
<br>
</hr>
<a th:href="@{/createComment/{id}(id=${post.id})}">Create comment</a>
<ul>
    <li th:each="comment: ${comments}">
        <p th:text="${comment.commenter.fullname}"></p>
        <p th:text="${comment.lastUpdate}"></p>
        <p th:text="${comment.content}"></p>
        <a th:href="@{/deleteComment/{idPost}/{idComment}(idPost=${post.id},idComment=${comment.id})}">Delete comment</a>
    </li>

    <br>
</ul>
<br>
</body>
</html>